:root
{
  --global-color-primary: #6C71E0;
  --global-color-accent: #f69bc8;
  --global-color-ambient: #B7BBFF;
  --global-color-black40: #AAA9A8;
}

$gray: #edebeb;
.segment
{
  display: flex;
  justify-content: space-around;

  & .content 
  {
    width: 1190px;
    justify-content: space-between;
    padding: 0;
  }
}

#nft-sections
{
  margin-top: 104px;
  min-height: calc(100vh - 222px);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}