:root
{
  --global-color-primary: #6C71E0;
  --global-color-accent: #f69bc8;
  --global-color-ambient: #B7BBFF;
  --global-color-black40: #AAA9A8;
}

$gray: #edebeb;
.segment
{
  display: flex;
  justify-content: space-around;

  & .content 
  {
    width: 1190px;
    justify-content: space-between;
    padding: 0;
  }
}

#nft-sections
{
  margin-top: 104px;
  min-height: calc(100vh - 222px);
}